body {
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    background:#fff;
    padding: 0;
    margin: 0;
}
.main-cta-section {
    color: #fff;
    margin: 0 auto;
    padding: 0;
}
.salesforce-info-cta h1 {
    color: #032d60;
}
.salesforce-info-cta p {
    color: #042d60;
}

.main-cta-section .sales-section-1 {
    position: relative;
    top: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.main-cta-section .salesforce-hero-bg {
    background: #e8ecff;
    width: 100%;
    height: 500px;
    z-index: -1;
    position: absolute;
}
.main-cta-section .salesforce-logo {
    margin-bottom: 20px;
}
.main-cta-section h1 {
    font-family: nimbus-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.main-cta-section .salesforce-image-cta img {
    width: 100%;
    max-width: 480px;
    height: auto;
}
.main-cta-section .sales-auto-form {
    color: #000;
    background: #F7FAFE;
    padding: 20px;
    border: 1px solid #0a5cab;
    border-radius: 5px;
}
.main-cta-section .sales-auto-form form {
    margin: 20px 0;
}

.main-cta-section .sales-auto-form form .form-control {
    margin: 0px 0px 30px 0px;
}

.main-cta-section .sales-auto-form form .btn-primary {
    width: 100%;
    background: #0b5cab;
}

.main-cta-section .sales-auto-form .action-text {
    font-size: 16px;
    font-weight: 700;
}

.main-cta-section .register-notice {
    font-size: 14px;
}

.mobility-section {
    text-align: center;
    margin: 45px 0px;
}

.mobility-section .salesforce-info-cta .title {
    color: #032d60;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
}

.logo-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin: 25px auto;
}

.logo-section img {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 175px;
}

.logo-section .item-logo {
    display: flex;
    align-items: center;
}

.footer {
    font-size: 10px;
    text-align: center;
    color: #fff;
    background: #032E61;

    padding: 20px 0;
    margin: 0;
}